* {
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

.App {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 50px;
}

.orderBlocks {
    position: relative;
    border: 3px solid #777777;
    padding: 20px;
    border-radius: 10px;
}

.title {
    position: absolute;
    top: -43px;
    padding: 10px;
    background: white;
}

.orderList {
    width: 35%;
}

.menuBlock {
    width: 50%;
}

.menu {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.menuItem {
    display: flex;
    width: 300px;
    border: 3px solid #777777;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

.imgBlock img {
    width: 75px;
    height: 75px;
    margin:0 20px;
}

.btn {
    border: none;
    background: #dc3545;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-weight: 700;
}

.totalPrice {
    margin-top: 40px;
    border-top: 2px solid #777777;
    padding-top: 10px;
    text-align: right;
}

.itemOrder {
    display: flex;
    justify-content: space-between;
    height: 35px;
    margin-bottom: 10px;
}

.itemOrderName, .quantity, .priceOrder {
    font-weight: 600;
    display: inline-block;
    line-height: 35px;
}

.itemOrderName {
    width: 65%;
}

.quantity {
    width: 10%;
}

.priceOrder {
    width: 20%;
}

.emptyOrder {
    padding-bottom: 10px;
    font-weight: 600;
}

.titleItem {
    margin: 10px 0 10px;
    font-size: 22px;
}

.priceItem {
    margin: 0;
}

@media screen and (max-width: 996px) {
    .itemOrderName {
        width: 40%;
    }

    .quantity {
        width: 10%;
    }

    .priceOrder {
        width: 20%;
    }

    .App {
        margin: 0 50px;
    }

    .menuItem {
        width: 400px;
    }

    .orderList {
        width: 100%;
        order: 2;
    }

    .menuBlock {
        width: 100%;
        order: 1;
        margin-bottom: 50px;
    }
}